@font-face {
  font-family: primaryFont;
  src: url("font/Nurom-Bold.ttf");
  font-weight: 200;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #ee1d21;
  --secondary: #110f10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #ee1d21;
  color: #fff;
}

.btn {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  height: 80px;
  width: 90px;
  background: rgb(209, 117, 117);
  border: none;
  transition: all 0.5s ease-in-out;
}

.page {
  display: flex;
}

.sidemenu {
  min-width: 15vw;
  min-height: 100vh;
  background-color: var(--primary);
}

.logo {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20%;
  color: #fff;
}

.logo img {
  width: 90%;
  height: 90%;
}

.categories {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.category {
  height: 70px;
  width: 70px;
  margin: 1rem 0;
  background: none;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 3px;
}

.category img {
  width: 80%;
  height: 80%;
}

.selected {
  border-bottom: 1px #fff solid;
}

.visited {
  height: 80px;
  width: 90px;
  background: rgb(247, 138, 156);
  border: none;
}

/* .mainarea */
.mainarea {
  min-width: 85vw;
  min-height: 100vh;
  background-color: var(--secondary);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  color: #fff;
  width: 100%;
  height: 15vh;
  padding: 0 30px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding: 0.75rem 1.5rem;
}

.navbar ul li a {
  padding: 0.5rem 0;
}
/* Hero */
.hero {
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  /* border: 2px solid green; */
  color: #fff;
}

.product {
  width: 90%;
  /* border: 2px solid yellow; */
  display: flex;
  padding: 3rem;
  z-index: 3;
  transition: all 1s ease-in;
}

.product .background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all 1s ease-in;
}
.product .background h1 {
  font-size: 15rem;
  opacity: 0.09;
  transform: skew(-15deg) translateY(-7rem);
}

.image {
  /* border: 4px dotted red; */
  align-self: flex-end;
  justify-self: center;
  width: 80%;
  margin-left: -5rem;
  margin-bottom: -4rem;
  transform: skewY(-10deg);
}
.image img {
  width: 100%;
  height: 100%;
}
.content {
  /* border: 4px dotted red; */
  align-self: flex-start;
  justify-self: center;
  margin-top: 5rem;
}

.content h1 {
  /* margin: 1rem 0; */
}

.content p:first-child {
  font-weight: 50;
}

.content p:last-child {
  margin-top: 1rem;
}
.content span {
  /* border: 4px dotted red; */

  font-size: 2rem;
  margin-top: 20px !important;
  padding-top: 20px;
}

.content span:first-child {
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 0.2rem;
}

/* Products Category */

.products {
  /* border: 2px solid green; */
  width: 10%;
}

/* Items */
.items {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 15vh;
  margin: 0 60px;
}

.items .social i {
  margin-right: 15px;
}

.buttons .btns {
  margin: 0 10px;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}

.buttons .btns i {
  margin-left: 10px;
}
